
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: 400;
    font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: bold;
    font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-BoldItalic.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: bold;
    font-style: italic;
font-display: swap;
}


@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Italic.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: 400;
    font-style: italic;
font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-Medium.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro-Medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: 500;
    font-style: normal;
font-display: swap;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro-MediumItalic.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/DINPro-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../fonts/DINPro-MediumItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../fonts/DINPro-MediumItalic.ttf') format('truetype'); /* Safari, Android, iOS */
font-weight: 500;
    font-style: italic;
font-display: swap;
}

