/* reset */
$min-width: 320px;    
$max-width: 100%;     
$base-bg: #fff;   
$base-font-size: 16px; 
$base-line-height: 1.5; 
$base-font-family: 'Roboto', sans-serif; 
$link-color: #315EFB;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #262626;
$title-color: #343B4C;
$title-font-family: 'Rubrik', sans-serif;

$font-size-h1: 32px; 
$line-height-h1: 1.25;     
$font-size-h2: 32px;
$line-height-h2: 38px;   
$font-size-h3: 24px;
$line-height-h3: 1.35;   
$font-size-h4: 20px;
$line-height-h4: 1.3; 
$font-size-h5: 18px;
$line-height-h5: 1.3; 
$font-size-h6: 16px;
$line-height-h6: 1.3; 

$orange: #F16142;
$gray: #8D96B2;
$green: #28BC00;