/* reset */
$min-width: 320px;    
$max-width: 100%;     
$base-bg: #fff;   
$base-font-size: 18px; 
$base-line-height: 1.2; 
$base-font-family: 'DINPro', sans-serif; 
$link-color: #3d95e3;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #08172d;
$title-color: #344258;
$title-font-family: 'DINPro', sans-serif;

$font-size-h1: 46px; 
$line-height-h1: 1.2;     
$font-size-h2: 32px;
$line-height-h2: 1.2;   
$font-size-h3: 24px;
$line-height-h3: 1.2;   
$font-size-h4: 20px;
$line-height-h4: 1.2; 
$font-size-h5: 18px;
$line-height-h5: 1.2; 
$font-size-h6: 16px;
$line-height-h6: 1.2; 

